{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "parser": "flow",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ],
  "bracketSameLine": true,
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true
}
